.App {
  text-align: center;
  
}

body {
  background-image: url(https://imgsbright.brightstarmusical.com/what-was-the-very-first-broadway-musical-.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.song_body {
  background-color: rgb(109, 15, 15);
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  /* margin-left: 100px;*/
  padding-left: 300px; 
}

::-webkit-scrollbar {
  display: none;
}

/* .sidebar{
  float: left;
  position: absolute;
  background-color: antiquewhite;
  height: 100vh;
  width: 100px;
} */

/* .sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: bisque;
  text-decoration: none;
} */


