.musical-info h1{
    color: white;
    text-align: right;
    padding-right: 10px;
}

.musical-details {
    color: white;
    text-align: right;
    padding-right: 20px;
}

.musical-details h4 b{
    color: rgb(117, 207, 255);
}
