.actor-info h1{
    color: white;
    padding-left: 15px;
}

.actor-details {
    padding-left: 15px;
}

.actor-details p b{
    color: rgb(117, 207, 255);
    font-size: 22px;
    
}

.playbill-image {
    max-height: 180px;
    object-fit: contain;
    border-radius: 5px;
    padding-left: 15px;
}

/*ActorSongList.js tags*/


.actor-name h1{
    color: rgb(255, 255, 255);
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 30px #ffdf53, 0 0 40px #ffdf53, 0 0 50px #ffdf53, 0 0 60px #ffdf53, 0 0 70px #ffdf53;
}

.feat-song h1{
    color: rgb(255, 255, 255);
}

.actor-song h1{
    font-size: 20px;
    text-decoration: none;
    color: rgb(117, 207, 255);
}

.actor-song:hover {
    color: yellow;
    text-decoration: none;
}

