.all-musicals-page {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
  }

  /* .all-musicals-page h1 {
    margin: 30px 32px;
  }  */

  .musicals-gallery {
    display: grid;
    grid-template-columns: repeat(5), auto;
  }
    figure {
      margin: 3px;
      overflow: hidden;
      position: relative;
    }

  .headline {
    float: none;
    text-align: left;
    padding-left: 250px;
    color: white;
   
  }

.search-container {
  padding-left: 20px;
}

.searchbar {
  display: flex;
  align-items: center;
}

.fa-search {
  color: white;
  cursor: pointer;
  font-size: 25px;
  padding-left: 10px;
}