.audio-player {
    max-width: 350px;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
    margin: auto;
    color: var(--white);
  }
  
  .artwork {
    border-radius: 120px;
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
  }
  
  .track-info {
    text-align: center;
      z-index: 1;
    position: relative;
  }
  
  .title {
    font-weight: 700;
    margin-bottom: 4px;
  }
  
  .featured {
    font-weight: 300;
    margin-top: 0;
  }


/*Audio Controls Styling*/
  .audio-controls {
    display: flex;
    justify-content: space-between;
    width:  75%;
    margin: 0 auto 15px;
  }
  
.fa-backward-step {
    width: 35px;
    height: 35px;
}

.fa-forward-step {
    width: 35px;
    height: 35px;
}
  
.fa-play {
    height: 40px;
    width: 40px;
  }

.fa-pause{
    height: 40px;
    width: 40px;
  }
  
  .audio-controls path {
    fill: var(--white);
  }

  /*Song Range bar Styling*/

  input[type=range] {
	height: 5px;
	-webkit-appearance: none;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 8px;
	background: #3b7677;
	transition: background 0.2s ease;
	cursor: pointer;
}