.commentForm {
    display: block;
    text-align: center;
   margin: auto;
}

.comment-sub-btn {
    color: white;
    background-color: black;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 390px;
}

.comment-sub-btn:hover {
    color: yellow;
    transition: .3s;
    cursor: pointer;
}


/*Comment.js tags*/

.indiv-comments-container {
    margin: auto;
    display: block;
    align-items: center;
}

.add-comment {
    display: block;
    text-align: center;
}

.display {
    text-align: center;
}

.hide{
    display: none;
}

.display-comments {
    display: block;
    text-align: center;
}

.fa-regular {
    margin: 14px 14px;
    margin-bottom: 0px;
    padding: 7px; 
    width: 30px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.textarea{
    width: 31.5%;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 380px;
    padding: 12px;
    text-align: justify;
    line-height: 30px;
    font-size: 18px;
    
}

.individualComments {
    background-color: rgb(158, 167, 170);
    color: black;
    width: 30%;
    padding: 10px;
    line-height: 25px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 380px;
}


.comment-display {
    /* height: 100%;
    width: 100%;
    overflow-y: scroll; */
    margin: auto;
}

.comment-username {
    color: black;
}

