@media only screen and (max-width: 640px) {
    
}

.commentForm {
    display: block;
    text-align: center;
    margin: auto;
    /* font-family: 'Raleway Dots', cursive; */
    /* color: black; */
}

.comment-sub-btn {
    color: white;
    background-color: black;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 390px;
}

.comment-sub-btn:hover {
    color: yellow;
    transition: .3s;
    cursor: pointer;
}

.textarea{
    width: 31.5%;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 430px;
    padding: 12px;
    /* text-align: justify; */
    line-height: 30px;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family: 'Raleway Dots', cursive;  */
}


/*Comment.js tags*/

.indiv-comments-container {
    margin: auto;
    max-width: 1200px;
    display: block;
    text-align: center;
}

.add-comment {
    display: block;
    text-align: center;
}

.display {
    text-align: center;
    
}

.hide{
    display: none;
}

.display-comments {
    display: block;
    text-align: center;
}

.fa-regular {
    margin: 14px 14px;
    margin-bottom: 0px;
    padding: 7px; 
    width: 30px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}


.fa-xmark{
    margin: 14px 14px;
    margin-bottom: 0px;
    padding: 7px; 
    width: 30px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.individualComments {
    background-color: rgb(88, 88, 88);
    color: rgb(0, 0, 0);
    width: 30%;
    padding: 10px;
    /* line-height: 25px; */
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 200px;
    font-family: 'Raleway Dots', cursive;
    font-size: 18px;
}



.comment-username {
    color: black;
}

.comment-username p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

