

.login h1 {
    font-family: 'Raleway Dots', cursive;
    text-align: center;
    color: white;
}

.login h2 {
    font-family: 'Raleway Dots', cursive;
    text-align: center;
    margin-bottom: 80px;
    color: white;
}

.login {
    width: 380px;
    margin: auto;
    border-radius: 25px;
    background-color: rgba(0,0,0,0);
    text-align: center;
    padding-top: 25px;
}

.main input {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 40px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
}

.main input:hover {
    box-shadow: 2px 2px 5px #555;
    background-color: rgb(255, 240, 131);
}

.main button {
    padding-left: 0%;
    background-color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    margin-bottom: 40px;
    cursor: pointer;
}

.main button:hover{
    color: yellow;
}



.main span {
    position: relative;
}


.main i {
    position: absolute;
    left: 15px;
    color: #333;
    font-size: 16px;
    top: 2px;
}
