
.musicals-thumbnail_image {
    max-height: 180px;
    object-fit:fill;
    border-radius: 5px;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
}

/* .all-musicals-container {
    margin: auto;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 270px auto 300px; 
    column-gap: 100px;
    row-gap: 100px;
    align-items: center;
    margin-top: 10px;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
} */


.all-musicals-container{
    background-color: black;
    margin-right: 20px;
    border-radius: 5px;
    padding: 12px;
    padding-bottom: 8px;
    transition: 500ms;
    float: none;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 100px;
    box-shadow: 0 6px 20px rgb(255, 240, 73);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.thumbnail_info {
    width: 80%;
    margin-left: 2px;
}

.thumbnail_info h3{
    margin: 5px 0;
    font-size: 13px;
}

.thumbnail_info h3:hover{
    text-decoration: underline;
}

.thumbnail_info h3:active{
    color: black;
}

.thumbnail_title{
    margin-bottom: 15px;
    margin-left: 5px;
}

.thumbnail_container:hover {
    background-color: lightgray;
    cursor: pointer;
}

.musical-name {
    text-align: center;  
}


.search-container {
    display: flex;
    align-items: center;
}