.musical-info h1{
    color: white;
    text-align: right;
    padding-right: 10px;
}

.musical-details {
    color: white;
    text-align: right;
    padding-right: 20px;
}

.musical-details h4 b{
    color: rgb(117, 207, 255);
}

.tix-btn {
    color: white;
    background-color: black;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
    display: block;
    float: right;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.tix-btn:hover {
    color: yellow;
    background-color: black;
    
}

.song-list-container {
    height: 200vh;
    width: 100vw;
    overflow-y: scroll;

}
