.horizontal-navbar {
    display: flex;
    align-items: center;
    justify-content:right;
    padding-top: 40px;
    padding-left: 10%;
    text-decoration: none;
}

.navbar-opts {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    
}

.welcome {
    color: white;
    text-align: left;
}

p {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

p:hover{
    color: yellow;
   transition: .3s; 
}

.login-btn {
    border: none;
    background-color: black;
    padding: 10px 20px;
    margin-right: 25px;
}


.signup-btn {
    border: none;
    background-color: black;
    padding: 10px 20px;
    margin-right: 25px;
}

