.songTitle {
    float: left;
    color: white;
    padding-left: 50px;
    font-family: 'Raleway Dots', cursive;
}

.add-cover h1{
    color: yellow;
    display: block;
    text-align: center;
    padding-right: 400px;
    font-family: 'Raleway Dots', cursive;
    
}