/*Video Form CSS*/

@media only screen and (max-width: 640px) {
    
}

.video-post-info {
    margin: auto;
    max-width: 350px;
}

.video-form {
    max-width:350px;
    margin: auto;
    padding-right: 450px;
    align-items: center;
   
    
}

.vid-title {
    padding: 10px;
}

.vid-url {
    margin-top: 15px;
    padding: 8px;
    display: block;
}

.file-btn {
    color: yellow;
    border: none;
    padding: 10px 20px;
    display: block;
}

.video-sub-opts {
    display: inline-block;
}

.sub-btn {
    color: white;
    background-color: black;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 170px;
}

.sub-btn:hover {
    color: yellow;
    transition: .3s;
    cursor: pointer;
}

/*Actual videos*/

.vid-post-display{
    margin: auto;
    max-width: 1200px;
}

.post-title {
    color: white;
    display: block;
    text-align: center;
    padding-right: 400px;
}

.post-user {
    color: white;
    display: block;
    text-align: center;
    padding-right: 400px;
}

.post-comments {
    color: white;
    display: block;
    text-align: center;
    padding-right: 400px;
}

.x-btn {
    margin: 10px 10px;
    margin-bottom: 0px;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.x-btn:hover {
    background-color: black;
    color: yellow;
}

.url-post-vid {
    align-items: center;
}

.local-post-vid {
    height: 400;
    width: 65%;
}

.add-comment-header{
    color: white;
    display: block;
    text-align: center;
    padding-right: 400px;
}
