
/*AllVideos.js tags*/
.all-videos-container {
    margin: auto;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 100px;
    row-gap: 100px;
    align-items: center;
    margin-top: 80px;
}

/*VideoDisplay.js tags*/

/* .all-vids-thumbnail {
    margin: auto;
} */

.all-vids-titles {
    color: white;
    font-size: 14px;
    
}

.all-vids-url {
    color: aliceblue;
}

.all-vids-local {
    width: 130%;
    height: auto;
    /* display: grid; */
}

/* .all-vids-collection {
    grid: 2rem;
} */