
/*AllVideos.js tags*/
.all-videos-container {
    margin: auto;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 270px auto 300px; 
    column-gap: 100px;
    row-gap: 100px;
    align-items: center;
    margin-top: 10px;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

/*VideoDisplay.js tags*/

.all-vids-titles {
    color: white;
    font-size: 14px;
    
}

.all-vids-url {
    color: aliceblue;
}

.all-vids-local {
    width: 130%;
    height: auto;
}

.all-videos-page h1{
    color: white;
    padding-left: 20px;
    font-family: 'Raleway Dots', cursive;
}